<%- include ('template/_header')%>
<body>
    <br>
    <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <div class="table-responsive">
                <table class="table">
                <thead>
                  <tr>
                    <th scope="col"></th>
                    <th scope="col">Carrito de Compras</th>
                    <th scope="col">Precio</th>
                    <th scope="col">Cantidad</th>
                    <th scope="col"></th>
                  </tr>
                </thead>
                <tbody>
                  <tr>
                    <% var total = 0, subtotal = 0, itbms = 0, cantidad = 0; 
                    if(data) {%>
                    <% for(var i = 0; i < data.length; i++){%>
                    <th scope="row"><img src="<%=data[i].imagen%>" width="75" height="75"></th>
                    <td><%=data[i].nombre%></td>
                    <div><td>$<%=data[i].precio%></td></div>                                         
                      <td>
                        <div id="ctds">
                          <input type="number" min="1" value="1" style="width: 50px;">
                        </div>                       
                      </td>                                                          
                      <td><button type="button" class="btn btn-outline-danger">Eliminar</button></td> 
                  </tr>                    
                <%subtotal = data[i].precio*cantidad; console.log(cantidad);%>                        
                <script>
                  var counter=0;
                $("#ctds input").each(function(){
                counter++;
                    var self=$(this);
                    self.addClass("div"+counter);
                    var tdCounter=0;
                    self.find('input').each(function(){
                    tdCounter++;
                      $(this).addClass("ctd"+tdCounter);
                    });
                });  
                </script>
                <%}%>                                 
                    <% itbms=parseFloat((subtotal*0.07).toFixed(2)) %>
                    <% total=subtotal + itbms %>
                    <thead>                      
                      <tr>
                        <th scope="col">Calculos</th>
                        <th scope="col"></th>
                        <th scope="col">Precio</th>
                      </tr>
                    </thead>
                  <%}%>
                  <tr>
                    <th scope="row">Subtotal</th>
                    <td> </td>
                    <td style="color: green;">$ <%=subtotal%></td>
                  </tr>
                  <tr>
                      <th scope="row">ITBMS 7%</th>
                      <td> </td>                      
                      <td style="color: green;">$ <%=itbms%></td>
                  </tr>
                  <tr>
                      <th scope="row">Total</th>
                      <td> </td>                    
                      <td style="color: green;">$ <i id="total"><%=total%></i></td>
                  </tr>
                </tbody>
                </table>
                <!--BOTON DE PAGAR (TARJETA)-->
                <div class="card-footer">
                  <form action="/checkout" method="POST">
                    <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                      data-key="pk_test_51H5dA2KDd3ZOeKrKGzLiFpdmCtIk24Lg5HYg1cfc5JHGxaQn5AZLLLrAq4ThFoNqx1S7DNq4dEH14tAn8A1Z8G0c00UVOzUqvm" 
                      data-amount="<%=total*100%>" data-name="Virtual Market"
                      data-image="img/Icono.png" data-locale="auto">
                      </script>
                    <script>
                      document.getElementsByClassName("stripe-button-el")[0].style.display = 'none';
                    </script>
                    <input type="text" id="amount" name="amount" value="<%=total*100%>" disabled hidden>
                    <button id="boton-pagar"  class="btn btn-success btn-block">
                      Pagar <i class="fas fa-shopping-cart"></i>
                    </button>
                  </form>
                  <!--BOTON DE PAYPAL-->
                  <div id="paypal-button-container"></div>
                  <script src="https://www.paypal.com/sdk/js?client-id=sb&currency=USD" data-sdk-integration-source="button-factory"></script>
                  <script>
                    paypal.Buttons({
                        style: {
                            shape: 'rect',
                            color: 'silver',
                            layout: 'horizontal',
                            label: 'paypal',
                        },
                        createOrder: function(data, actions) {
                            return actions.order.create({
                                purchase_units: [{
                                    amount: {
                                        value: ejsVal
                                    }
                                }]
                            });
                        },
                        onApprove: function(data, actions) {
                            return actions.order.capture().then(function(details) {
                                alert('Transaccion Completada por ' + details.payer.name.given_name + '!');
                            });
                        }
                    }).render('#paypal-button-container');
                  </script>  
                </div>
          </div> 
        </div>
      </div>        
    </div>    
<br><br> 

</body>

<script>var ejsVal= total.innerHTML    ; console.log(ejsVal)</script>

  
<%- include ('template/_footer')%>
