<!--Carrusel multiple mejorado-->
<!--carusel-->

<section id="multiCardCarousel" class="carousel slide" data-ride="carousel">
  
  <!-- controles -->
  <div class="container">
    <div class="row">
      <div class="col-12 text-right mb-4">
        <a href="#" class="btn btn-outline-info prev material-icons" title="go back">arrow_back_ios</a>
        <a href="#" class="btn btn-outline-info next material-icons" title="next">arrow_forward_ios</a>
      </div>
    </div>
  </div>

  <!--contenedor que lleva todo el carrusel-->
  <div class="container pt-0 mt-2 carousel-inner">

      <!--slide con 3 cartas-->
    <div class="row row-equal carousel-item active mt-0">
      <div class="continer">
        <div class="row">
          <!--card 1-->
          <% if(data) {%>
            <% for (i=0; i < 3; i++) {%>
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top card-img-top-250 img-fluid"
                        src="<%=data[i].logo%>"
                        alt="Card izge cap">
                      <div class="card-body">
                        <h4 class="card-title"><span class="letra"><%=data[i].nombre%></span></h4>
                        <p class="card-text"><%=data[i].horario%></p>
                        <a class="btn btn-outline-secondary btn-block">Ver Productos</a>
                      </div>
                </div>
              </div>
            <%}%>
          <%}%>
        </div>
      </div>
    </div>

    <!--slide con 3 cartas-->
    <div class="row row-equal carousel-item mt-0">
      <div class="continer">
        <div class="row">
            <!--card 1-->
            <% if(data) {%>
              <% for (i=3; i < 6; i++) {%>
                <div class="col-md-4">
                  <div class="card">
                    <img class="card-img-top card-img-top-250 img-fluid"
                          src="<%=data[i].logo%>"
                          alt="Card izge cap">
                        <div class="card-body">
                          <h4 class="card-title"><span class="letra"><%=data[i].nombre%></span></h4>
                          <p class="card-text"><%=data[i].horario%></p>
                          <a class="btn btn-outline-secondary btn-block">Ver Productos</a>
                        </div>
                  </div>
                </div>
              <%}%>
            <%}%>
        </div>
      </div>
    </div>

    <!--slide con 3 cartas-->
    <div class="row row-equal carousel-item mt-0">
      <div class="continer">
        <div class="row">
          <!--card 1-->
          <% if(data) {%>
            <% for (i=6; i < 9; i++) {%>
              <div class="col-md-4">
                <div class="card">
                  <img class="card-img-top card-img-top-250 img-fluid" src="<%=data[i].logo%>" alt="Card izge cap">
                    <div class="card-body">
                      <h4 class="card-title"><span class="letra"><%=data[i].nombre%></span></h4>
                      <p class="card-text"><%=data[i].horario%></p>
                      <a class="btn btn-outline-secondary btn-block">Ver Productos</a>
                  </div>
                </div>
              </div>
            <%}%>
          <%}%>
        </div>
      </div>
    </div>
  </div>
</section>